@import url('https://rsms.me/inter/inter-ui.css');
/* membuat warna ff7f00 menjadi variable warna utama1 */
:root {
  --utama1: #ff7f00;
  --utama2: #010101;
  --sekuder1: #f0f0f0;
  --sekuder2: #333;
}

::selection {
  background: var(--utama1);
}
::-webkit-selection {
  background: var(--utama1);
}
::-moz-selection {
  background: var(--utama1);
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
  color: var(--utama1);
}
.eula {
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
  font-weight: bold;
}
.copyright {
  color: rgb(0, 0, 0);
  /* padding: 10px; */
  text-align: center;
}
.right {
  background: var(--utama1);
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #000000;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  /* color: #707075; */
  margin-top: 40px;
  transition: color 300ms;
  display: inline-block;
}
#submit:focus {
  color: #000000;
}
#submit:active {
  color: #000000;
}
#submit.active {
  display: none;
}
#signup.active {
  /* color: #707075; */
  margin-top: 40px;
  transition: color 300ms;
  display: inline-block;
}
#signup:focus {
  color: #000000;
}
#signup:active {
  color: #000000;
}
#signup {
  display: none;
}
#daftar2{
  /* align-items: center; */
  display: inline-block;
  margin-left: 10%;
}
#daftar2.active {
  display: none;
}
#login {
  display: none;
}
#login.active {
  display: inline-block;
  /* buat tombolny menjadi di tengah menggunakan center*/
  /* margin: 0 auto; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 10%;
}
#signup {
  display: none;
}
#signup.active{
  /* color: #707075; */
  margin-top: 40px;
  transition: color 300ms;
  display: inline-block;
}
#signup:focus {
  color: #000000;
}
#signup:active {
  color: #000000;
}
.form a {
  align-items: center;
  justify-content: center;
  /* text-decoration: none; */
  color: #ffffff;
  font-weight: bold;
}
.form p{
  color: #ffffff;
  font-size: 14px;
  /* margin-bottom: 20px; */
  /* margin-top: 10%; */
  /* center kan tag p pada form */
  text-align: center;
}
#formlogin.active, #formsignup {
  display: none; /* Sembunyikan form login dan signup secara default */
}

#formlogin, #formsignup.active {
  display: block; /* Tampilkan form yang memiliki class active */
}
#login {
  display: none;
}